<!-- <p>add-recipe works!</p> -->
<div class="add-recipe-form">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="image" placeholder="Image" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" [(ngModel)]="title" placeholder="Title" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="category" placeholder="category" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="rating" placeholder="rating" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="summary" placeholder="summary" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="ingredients"
      placeholder="Ingredients"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="timeToComplete"
      placeholder="Time"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="procedure"
      placeholder="Procedure"
    />
  </mat-form-field>
  <button mat-flat-button (click)="addrecipe()">Add Recipe</button>
</div>
