<!-- <p>add-recipe works!</p> -->
<div class="add-recipe-form">
  <input type="text" [(ngModel)]="image" placeholder="Image" />
  <input type="text" [(ngModel)]="title" placeholder="Title" />

  <input type="text" [(ngModel)]="category" placeholder="category" />
  <input type="text" [(ngModel)]="rating" placeholder="rating" />
  <input type="text" [(ngModel)]="summary" placeholder="summary" />
  <input type="text" [(ngModel)]="ingredients" placeholder="Ingredients" />
  <input type="text" [(ngModel)]="timeToComplete" placeholder="Time" />
  <input type="text" [(ngModel)]="procedure" placeholder="Procedure" />
  <button (click)="addrecipe()">Add Recipe</button>
</div>
