<!-- <p>add-recipe works!</p> -->
<div class="add-recipe-form">
  <input type="text" [(ngModel)]="image" placeholder="image" />
  <input type="text" [(ngModel)]="title" placeholder="title" />

  <input type="text" [(ngModel)]="category" placeholder="category" />
  <input type="text" [(ngModel)]="rating" placeholder="rating" />
  <input type="text" [(ngModel)]="summary" placeholder="summary" />
  <input type="text" [(ngModel)]="ingredients" placeholder="ingredients" />
  <input
    type="text"
    [(ngModel)]="timeToComplete"
    placeholder="timeToComplete"
  />
  <input type="text" [(ngModel)]="procedure" placeholder="procedure" />
  <button (click)="addrecipe()">addmovie</button>
</div>
