body {
  margin: 0;
  // display: grid;
  display: flex;
  flex-direction: row;

  place-content: center;
  min-height: 100vh;
}
.container {
  // margin: 0;
  padding: 10px;
  width: 330px;
}
.headingAndRating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: center;
}
img {
  width: 330px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  // box-shadow: 0px 1px 0px 2px lightgrey;
  transition: all 1s;
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.rating {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
h1 {
  margin: 0;
  font-size: 24px;
}
.summary {
  opacity: 60%;
}
.description {
  justify-content: center;
  padding: 10px;
  text-align: justify;
}
.wholecontainer {
  // display: grid;
  // grid-template-columns: 3fr 3fr 3fr 3fr;
  // gap: 3rem;
  height: 660px;
  width: 350px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
  align-items: center;
}

.icon {
  font-size: 50px;
}
header {
  background-color: rgb(235, 225, 214);
  // position: fixed;
  // position: fixed;
  place-content: center;
  max-width: 100%;
}
.delete-button {
  padding-left: 10px;
}
