<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wholecontainer">
      <div class="container">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU4JHABAZ2nDOR_TcvlZvIA-riyuylqApYHw&s"
          alt="Extraordinary"
        />
        <div class="headingAndRating">
          <h1>
            {{ everyrecipe.title }}
          </h1>
          <p class="rating">
            ⭐
            <!-- {{ movies_data.rating }} -->
          </p>
        </div>
        <button mat-raised-button>Show Description</button>
        <!-- <p class="summary" style="display: none">{{ movies_data.summary }}</p> -->

        <div class="description">
          <p class="summary">
            <!-- {{ movies_data.summary }} -->
            summary
          </p>
        </div>
        <button mat-raised-button>delete</button>
      </div>
    </div>
  </body>
</html>
