<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <mat-card class="wholecontainer">
      <div class="container">
        <img src="{{ everyrecipe.image }}" alt="Extraordinary" />
        <div class="headingAndRating">
          <h1>
            {{ everyrecipe.title }}
          </h1>
          <p class="rating">
            ⭐
            {{ everyrecipe.rating }}
          </p>
        </div>
        <p class="category">
          {{ everyrecipe.category }}
        </p>
        <button mat-raised-button (click)="showDescription()">
          Show Description
        </button>
        <!-- <p class="summary" style="display: none">{{ movies_data.summary }}</p> -->
        @if(show){
        <div class="description">
          <p class="summary">{{ everyrecipe.summary }}</p>
        </div>
        }
      </div>
      <mat-icon class="delete-button" (click)="deleteRecipe()">delete</mat-icon>
    </mat-card>
  </body>
</html>
