.all_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
input.search {
  width: 260px;
  border: 2px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("search.svg") no-repeat 13px;
  border-radius: 10px;
  margin-bottom: 20px;
}
