<!-- <p>edit-recipes works!</p> -->
<!-- <p>add-recipe works!</p> -->
<form
  [formGroup]="recipeForm"
  (ngSubmit)="editrecipe()"
  class="edit-recipe-form"
>
  <mat-form-field>
    <input matInput type="text" formControlName="image" placeholder="Image" />
    @if(image?.touched && image?.hasError('required') ){
    <mat-error>image is <strong>required</strong></mat-error>
    } @if(image?.touched && image?.hasError('minlength') ){
    <mat-error>Please provide full movie image 😁</mat-error>
    }@if(image?.touched && image?.hasError('pattern') ){
    <mat-error>Please start with <strong>https://</strong> 🧑‍🚀 </mat-error>
    } </mat-form-field
  ><br />

  <mat-form-field>
    <input matInput type="text" formControlName="title" placeholder="Title" />
    @if(title?.touched && title?.hasError('required') ){
    <mat-error>title is <strong>required</strong></mat-error>
    } @if(title?.touched && title?.hasError('minlength') ){
    <mat-error>Please provide full recipe name 😁</mat-error>
    } </mat-form-field
  ><br />
  <!-- <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="veg">Veg</mat-option>

      <mat-option value="non-veg">Non-Veg</mat-option>
    </mat-select> </mat-form-field
  >
  <br /> -->
  <label id="example-radio-group-label">Select Category</label>
  <mat-radio-group aria-label="Select category" formControlName="category">
    <mat-radio-button value="veg">Veg</mat-radio-button>
    <mat-radio-button value="non-veg">Non-veg</mat-radio-button>
  </mat-radio-group>
  <br />

  <mat-form-field>
    <input matInput type="text" formControlName="rating" placeholder="rating" />
    @if(rating?.touched && rating?.hasError('required') ){
    <mat-error>Rating is <strong>required</strong></mat-error>
    } @if(rating?.touched && rating?.hasError('min') ){
    <mat-error>Rating is <strong>too low 🥲</strong></mat-error>
    } @if(rating?.touched && rating?.hasError('max') ){
    <mat-error>Rating is too high 😓</mat-error>
    } </mat-form-field
  ><br />
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="summary"
      placeholder="summary"
    /> </mat-form-field
  ><br />
  <mat-form-field>
    <textarea
      matInput
      type="text"
      formControlName="ingredients"
      placeholder="Ingredients"
    ></textarea></mat-form-field
  ><br />
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="timeToComplete"
      placeholder="Time"
    /> </mat-form-field
  ><br />
  <mat-form-field>
    <textarea
      matInput
      type="text"
      formControlName="procedure"
      placeholder="Procedure"
    ></textarea></mat-form-field
  ><br />

  <mat-form-field>
    <mat-label>Cars</mat-label>
    <mat-select formControlName="cuisines">
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button mat-flat-button (click)="editrecipe()">Add Recipe</button> -->
  <button mat-raised-button type="submit">{{ "Save" | uppercase }}</button>
</form>
