<!-- <p>home works!</p> -->
<div class="main">
  <div class="content">
    <img
      src="https://img.freepik.com/free-photo/young-woman-enjoying-taste-healthy-bruschetta-with-her-eyes-closed-kitchen_637285-3126.jpg"
    />
    <h2 class="heading">Welcome to Taste Bites!!</h2>
  </div>
  <div class="para">
    <h5>
      Find and cook delicious recipes with ease. Whether you're new to cooking
      or a seasoned pro, our app offers step-by-step instructions and helpful
      photos to guide you.
    </h5>
    <br />
    <h5>Start your culinary adventure today!</h5>
  </div>
</div>
