.content{
//    min-height: 100vh;
   place-content: center;
//    min-width: 500px;
   display: flex;
   justify-content: space-evenly;
   align-items: stretch
}
.heading{
    place-content: center;
 
    letter-spacing: 2px;
    text-transform: uppercase;
}
img{
    height:400px;
    width:300px;
    padding-top: 60px;
}
.para{
    // padding-top: 50px;
    padding: 30px 50px;
    // padding-right: 30px;
}
